USE [master]
GO
/****** Object:  Database [QLY]    Script Date: 2/9/2022 2:53:15 PM ******/
USE [QLY]
GO

CREATE DATABASE [QLY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLY.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLY_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLY]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[MaCN] [nchar](10) NOT NULL,
	[TenCN] [nvarchar](50) NULL,
	[TenGVCN] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DKMonHoc]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKMonHoc](
	[MaSV] [varchar](50) NOT NULL,
	[MaLop] [varchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
	[GiangVien] [nvarchar](50) NULL,
	[KhuVucHoc] [nvarchar](50) NULL,
	[ThoiGianHoc] [nvarchar](50) NULL,
	[SiSo] [int] NULL,
 CONSTRAINT [PK_DKMonHoc] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKMonHoc1]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKMonHoc1](
	[MaSV] [varchar](50) NULL,
	[MaLop] [varchar](50) NULL,
	[TenMon] [nvarchar](50) NULL,
	[GiangVien] [nvarchar](50) NULL,
	[KhuVucHoc] [nvarchar](50) NULL,
	[ThoiGianHoc] [nvarchar](50) NULL,
	[SiSo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [nchar](10) NOT NULL,
	[TenGV] [nvarchar](50) NULL,
	[SoDT] [nchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaSV]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaSV](
	[Khoa] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVucHoc]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVucHoc](
	[MaKV] [nchar](10) NOT NULL,
	[TenKV] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhuVucHoc] PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
	[MaCN] [nchar](10) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHocTheChat1]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHocTheChat1](
	[MaMonHoc] [varchar](50) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonHocTheChat1] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyLop]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyLop](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MonHoc] [nvarchar](50) NULL,
	[MaMH] [nchar](10) NULL,
	[Khoa] [int] NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
	[GiangVien] [nvarchar](50) NULL,
	[MaGV] [nchar](10) NULL,
	[KhuVucHoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuanLyLop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SInhVien_Information]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SInhVien_Information](
	[MaSV] [nchar](10) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [nchar](10) NULL,
	[GioiTinh] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[Email] [nchar](50) NULL,
	[Khoa] [int] NULL,
	[ChuyenNganh] [nvarchar](50) NULL,
 CONSTRAINT [PK_SInhVien_Information] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan1]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan1](
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[VaiTro] [varchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan1] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TKB1]    Script Date: 2/9/2022 2:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKB1](
	[MaLop] [varchar](50) NOT NULL,
	[MaHP] [nchar](10) NULL,
	[TenMon] [nvarchar](50) NULL,
	[LichHoc] [nvarchar](50) NULL,
	[GiangVien] [nvarchar](50) NULL,
	[KhuVuc] [nvarchar](50) NULL,
	[SiSo] [int] NULL,
 CONSTRAINT [PK_TKB1] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
